.wrapper {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    background-color: var(--layout-bg);
    align-items: center;
    min-width: calc(100vw - 240px);
    padding: 0 59px;
    z-index: 2;
    position: fixed;
    top: 0;
    right: 0;
}

.header-left {
    display: flex;
}

.search-result,
.wrapper-search {
    width: 520px;
}

.option {
    display: flex;
}
