.left-item {
    display: flex;
    align-items: center;
    font-size: 13px;
    font-weight: 700;
    padding: 10px 25px;
    border-left: 3px solid transparent;
    color: var(--navigation-text);

    .icon {
        margin-right: 8px;
    }
}

.active {
    background-color: var(--alpha-bg);
    border-left: 3px solid var(--purple-primary);
}

.img {
    margin-left: 8px;
}
