@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap');

:root {
    --vip-color: #ffdb00;
    --text-color: #333;
    --white-color: #fff;
    --black-color: #000;

    --navigation-text: #dadada;
    --primary-bg: #432275;
    --layout-bg: #170f23;
    --sidebar-popup-bg: #2a213a;
    --alpha-layout-bg: rgba(41, 21, 71, 0.8);
    --queue-player-popup-bg: #120822;
    --blur-queue-bg: rgba(30, 21, 47, 0.9019607843137255);
    --purple-primary: #7200a1;
    --link-text-hover: #c662ef;
    --chart-bg-img-alpha: rgba(32, 19, 53, 0.9);

    --search-text: #eee;
    --alpha-bg: hsla(0, 0%, 100%, 0.1);
    --search-bg: #2f2739;

    --header-height: 70px;
    --width-header: 1350px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    color: var(--text-color);
}

button,
input,
[tabindex] {
    outline: none;
    border: none;
}

a[href] {
    text-decoration: none;
}
