.wrapper {
    min-width: 240px;
    background-color: var(--sidebar-popup-bg);
    height: 100vh;
    overflow: hidden;
}

.logo {
    height: var(--header-height);
    display: flex;
    padding: 0 28px 0 25px;
    align-items: center;

    &:hover {
        opacity: 0.8;
        cursor: pointer;
    }
}
